### IntelliJ IDEA project files ###
.idea/
*.iws
*.ipr
*.iml

### Eclipse project files ###
.project
.classpath
.settings/

### Claude Code files ###
.claude
*PRD_*.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

.taskmaster
.cursor

# Task files
# tasks.json
# tasks/ 
